#header {
    color: white;
}

ul { 
    list-style-type: none;
    padding-left: 0;
}
  
li { 
    font-size: 10pt;
    padding: 5px 0px;
}
  
.col { 
    padding: 5px;
}
  
.card {
    width: 100%;
    background-color: #ececec;
}

.forecast-card {
    color: white;
    background-color: blue;
    font-size: 10pt;
}
  
.search-section {
    height: 100%;
}
  
.cityList {
    border: solid;
    border-width: thin;
    margin: 5px;
    padding-left: 2px;
    background-color: lightgrey;
}
  
.cityList:hover {
    background-color: #28a745;
    color: #fff;
}

#fiveDayHeader {
    margin-left: 10px;
    margin-top: 10px;
}

.container {
    margin-top: 5px;
  }

